In [2]:
# import dependencies
import requests
import json
from pprint import pprint
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# connect to API key
from config import gkey

In [3]:
# read zip codes csv
zipcodes_data = "ny_state_zipcodes.csv" 
zipcodes_df = pd.read_csv(zipcodes_data)
zipcodes_df.head()
#print(len(zipcodes_df))

   Zip Code
0     10001
1     10002
2     10003
3     10004
4     10005

In [4]:
# convert zip codes from integers to string
zipcodes_df = zipcodes_df.astype({"Zip Code": str})
zipcodes_df.dtypes

Zip Code    object
dtype: object

In [5]:
# output the column of zip codes into a list and hold in a variable for NY zip codes
ny_zip_codes = zipcodes_df["Zip Code"].tolist()
#print(zip_codes)
len(ny_zip_codes)

# !!!!!!!!!  notice we have 2,202 zip codes for NY state   !!!!!!!!!!!!!!

2202

In [6]:
# establish base URL 
base_url = "https://api.census.gov/data/2017/acs/acs5/profile"

# print the response to be sure it's connecting successfully
response = requests.get(base_url)
print(response)

<Response [200]>

In [7]:
# identify and set variables for keys from Census that we want to call
avg_income = "DP03_0063E"   
single_hh = "DP02_0011E"
hh_no_vehicles = "DP04_0058E"
#chinese_pop = "DP05_0046E"
zip_code = "zip%20code%20tabulation%20area:*"

#build query URL
query_url = f"{base_url}?get={avg_income},{single_hh},{hh_no_vehicles},NAME&for={zip_code}&key={gkey}"

#alternate query URL if we want to check specific zip codes (example for zip 10007 below):
#query_url = f"{base_url}?get={avg_income},{single_hh},{hh_no_vehicles},NAME&for=zip%20code%20tabulation%20area:10006&key={gkey}"

print(query_url)

https://api.census.gov/data/2017/acs/acs5/profile?get=DP03_0063E,DP02_0011E,DP04_0058E,NAME&for=zip%20code%20tabulation%20area:*&key=391a26e50b873d297dfed1954142d1f1dee85f9e

In [8]:
# convert to json
response = requests.get(query_url).json()
pprint(response)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [126]:
# create a dataframe containing data above (all US zip codes)

# set a column name for each output from JSON response above
df_raw = pd.DataFrame(response, columns=['Avg Income ($)', 
                                         'Single HH', 
                                         'No Vehicle HH',
                                         'ZCTA', 
                                         'Zip Code'])

# re-order columns and eliminate redundant columns 
df_raw = df_raw[['Zip Code',
                 'Avg Income ($)',
                 'Single HH', 
                 'No Vehicle HH']]

# drop first row, as it's a header
df_raw = df_raw.drop([0], axis=0, inplace= False)

df_raw

# !!!!!!!!!!! notice there are 33,120 US zips  !!!!!!!!!!!!!!!!!!!

      Zip Code Avg Income ($) Single HH No Vehicle HH
1        01379          66682       118            20
2        01440          62384      2461           915
3        01505         119858       398            43
4        01524          86771       738           100
5        01529         104300       207            40
6        01583         100363       539            84
7        01588          84802      1033           230
8        01609          77570      3276          1771
9        01721         136132      1424           145
10       01731          98165        17             0
11       01740         164477       246            25
12       01741         252373       246            27
13       01770         221325       182             9
14       01773         245881       528           157
15       01775         157304       493            73
16       01821         110998      1848           491
17       01843          59554      2087          1539
18       01863         102208      1357           283
19       01864         147682      1008            46
20       01876         107527      2957           495
21       01880         112430      2584           324
22       01906          96266      2411           510
23       01923          99109      3089           802
24       01929         131697       399            41
25       01940         143982      1187           247
26       01028         100964      1580           254
27       01033         102005       599            93
28       01037          98300        33             0
29       01005          95958       503            84
30       01027          76759      2462           496
...        ...            ...       ...           ...
33091    62077          48568        40             3
33092    62949          43502       115            27
33093    62979          54106       213            39
33094    62999          45927       204            71
33095    62063          68205        84             7
33096    62234          67593      3901           659
33097    62561          73790       514           131
33098    62961          84100         2             0
33099    62282          74826        27             0
33100    61474          55244        28             0
33101    61475          71505        13             0
33102    61489          59654       105            11
33103    61519          65485        41             5
33104    61526         109869        48            16
33105    61533          70237       205            45
33106    61544          53609        89             9
33107    61569          69875        73            16
33108    61602          37358       496           233
33109    61604          56602      4752          1739
33110    61614          78339      4960          1076
33111    61721          68063        49             2
33112    61732          86686        93             8
33113    61737          79472        31             2
33114    61771          80735        69             4
33115    61772          71896        10             0
33116    61774          78665        52            21
33117    61776          98201        96            18
33118    61777          65702        94             4
33119    61816          77895        55             2
33120    61275          83464       435            48

[33120 rows x 4 columns]

In [132]:
# see what data types we have
df_raw.dtypes

Zip Code          object
Avg Income ($)    object
Single HH         object
No Vehicle HH     object
dtype: object

In [139]:
# convert data types where necessary to floats
df_raw = df_raw.astype({"Zip Code": str,"Avg Income ($)": float, "Single HH": float, "No Vehicle HH": float})
df_raw.dtypes

Zip Code           object
Avg Income ($)    float64
Single HH         float64
No Vehicle HH     float64
dtype: object

In [138]:
# remove any negative numbers

#us_df = df_raw[(df_raw["Avg Income ($)"]>=0) & 
 #           (df_raw["Single HH"]>=0) & 
 #           (df_raw["No Vehicle HH"]>=0)]

#us_df['Zip Code']=us_df['Zip Code'].apply(lambda x: '{0:0>5}'.format(x))

#us_df.head()
#print(len(us_df)) = 31814

#  !!!!!!!!!!!!!! notice that after dropping zips w negative data, now at 31,814 zips.  1,306 were lost  !!!!!!!!!

31814

In [146]:
# create a dataframe with just NY zip codes

ny_df = df_raw.loc[df_raw['Zip Code'].isin(zip_codes)]
print(len(ny_df))
ny_df.head()

# !!!!!!! notice only 1,791 of the 2,202 NY zips were located in our US zip census data !!!!!!!!!!!

1791

     Zip Code  Avg Income ($)  Single HH  No Vehicle HH
2555    11548        194906.0       39.0           26.0
2556    11558        108979.0      667.0          300.0
2557    11560        206151.0      542.0           46.0
2558    11579        152379.0      433.0           91.0
2559    11694        104387.0     3152.0         1944.0

In [148]:
# run some calculations to understand the data

print(ny_df["Avg Income ($)"].count())
print(ny_df["Avg Income ($)"].median())
print(ny_df["Avg Income ($)"].mean())
print("------------------------------------")
print(ny_df.mean())

# !!!!!!!!! notice  there must be huge incorrect negative numbers in income data  !!!!!!!!

1791
71179.0
-36955005.11111111
------------------------------------
Zip Code                   inf
Avg Income ($)   -3.695501e+07
Single HH         1.205048e+03
No Vehicle HH     1.172084e+03
dtype: float64

In [154]:
# remove any negative numbers
ny_df_clean = ny_df[(ny_df["Avg Income ($)"]>=0) & 
                    (ny_df["Single HH"]>=0) & 
                    (ny_df["No Vehicle HH"]>=0)]

#us_df['Zip Code']=us_df['Zip Code'].apply(lambda x: '{0:0>5}'.format(x))

ny_df_clean

# !!!!!!! notice that after dropping zips w negative data, now at 1707 zips. 84 were lost !!!

     Zip Code  Avg Income ($)  Single HH  No Vehicle HH
2555    11548        194906.0       39.0           26.0
2556    11558        108979.0      667.0          300.0
2557    11560        206151.0      542.0           46.0
2558    11579        152379.0      433.0           91.0
2559    11694        104387.0     3152.0         1944.0
2560    11697        124884.0      387.0          149.0
2561    11703        110001.0     1168.0          188.0
2562    11729        100999.0     1926.0          474.0
2563    11732        161947.0      477.0           41.0
2564    11747        166217.0     1585.0          179.0
2565    11751        117580.0     1188.0          191.0
2566    11758        134330.0     3573.0          808.0
2567    11768        160548.0     1819.0          227.0
2568    11772         87830.0     5336.0         1879.0
2569    11782        133122.0     1225.0          276.0
2570    11784         94679.0     1308.0          512.0
2571    11798         89418.0      497.0          469.0
2572    11932        165703.0      152.0           29.0
2573    11935        119733.0      236.0           47.0
2574    11001        125651.0     1671.0          588.0
2575    11024        208469.0      237.0           60.0
2576    11050        185300.0     2368.0          867.0
2577    11204         69520.0     4845.0        11000.0
2578    11218         87341.0     6221.0        12625.0
2579    11223         71341.0     6967.0        11976.0
2580    11224         53095.0     6430.0        10734.0
2581    11373         65321.0     6620.0        17494.0
2582    11030        270794.0     1225.0          456.0
2587    11789        113956.0      611.0          167.0
2588    11804        157557.0      310.0          100.0
...       ...             ...        ...            ...
4322    14085         97290.0      343.0           68.0
4323    14026         89834.0      177.0            0.0
4324    14111         70714.0      404.0           72.0
4325    14216         71578.0     4107.0         1676.0
4326    14728         61970.0      141.0           27.0
4327    14006         71045.0     1358.0          187.0
4328    14777         57008.0       72.0           11.0
4329    14846         56550.0      105.0           26.0
4330    14895         56420.0     1355.0          701.0
4331    14615         50749.0     2834.0          899.0
4332    14220         60481.0     2923.0          970.0
4333    14228         72490.0     2992.0          927.0
4334    14411         62312.0     1426.0          377.0
4335    14420         67871.0     2093.0          695.0
4336    14423         65306.0      427.0           99.0
4337    14424         80702.0     3881.0         1017.0
4338    14437         62888.0     1308.0          405.0
4339    14441         70319.0       19.0            4.0
4340    14478         92215.0       19.0           10.0
4341    14611         34029.0     2511.0         2402.0
4342    14145         71618.0      116.0           22.0
4343    14450         99025.0     4329.0          997.0
4344    14580         90316.0     5915.0          996.0
4345    14604         37473.0     1115.0          624.0
4346    14610         93132.0     2978.0          620.0
4347    14718         62151.0      303.0           26.0
4348    14719         57426.0      383.0          154.0
4349    14737         55019.0      495.0          179.0
4350    14748         42193.0       95.0           18.0
4351    14757         63475.0      398.0           93.0

[1707 rows x 4 columns]

In [1]:
# create list of remaining NY zip codes to cross reference in other APIs

operational_ny_zip_codes = ny_df_clean["Zip Code"].tolist()
#len(operational_ny_zip_codes)
#operational_ny_zip_codes

ny_final_zips_df = pd.DataFrame(operational_ny_zip_codes)
ny_final_zips_df

NameError: name 'ny_df_clean' is not defined