In [1]:
import requests
import json
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from scipy import stats
import seaborn as sns
from Scott_keys import gkey

In [2]:
income_data = pd.read_csv("zips_with_income.csv")
income_df = pd.DataFrame(income_data)
income_df.head()

   NYC_Zip_Codes  Avg Income ($)
0          10001        161227.0
1          10002         65718.0
2          10003        182531.0
3          10004        191760.0
4          10005        201734.0

In [6]:
income_df.loc[income_df['Avg Income ($)'].idxmax()]

NYC_Zip_Codes      10007.0
Avg Income ($)    376573.0
Name: 6, dtype: float64

In [7]:
income_df.loc[income_df['Avg Income ($)'].idxmin()]

NYC_Zip_Codes     10453.0
Avg Income ($)    36529.0
Name: 57, dtype: float64