In [52]:
#Business Search      URL -- 'https://api.yelp.com/v3/businesses/search'
#Business Match       URL -- 'https://api.yelp.com/v3/businesses/matches'
#Phone Search         URL -- 'https://api.yelp.com/v3/businesses/search/phone'

#Business Details     URL -- 'https://api.yelp.com/v3/businesses/{id}'
#Business Reviews     URL -- 'https://api.yelp.com/v3/businesses/{id}/reviews'
#Delivary                     https://api.yelp.com/v3/transactions/{transaction_type}/search
#Businesses, Total, Region

# Import the modules
import requests
import json
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import requests 
import time
import json
import seaborn 

# connect to API key
from config import yelpkey

# Define API Key, Endpoint, and Header
API_KEY = yelpkey
ENDPOINT = 'https://api.yelp.com/v3/businesses/search'
HEADERS = {'Authorization': 'bearer %s' % API_KEY}

# Let's first do an easy call to see how we find the total # of restaurants in a zip code

# Define parameters of  search: chinese restaurants in zipcode 10007
PARAMETERS = {'term': 'chinese+food',
              'location': '10463',
              'radius': 0}

# Make a request to the Yelp API
response = requests.get(url = ENDPOINT,
                        params = PARAMETERS,
                        headers = HEADERS)

# Convert the JSON String
business_data = response.json()


# print some basic data on the response
num_of_businesses_returned = len(business_data['businesses'])
num_of_businesses = business_data['total']

count_in_zip = 0
for rest in business_data['businesses']:
    if rest['location']['zip_code'] == PARAMETERS['location']:
        count_in_zip += 1
        print(rest['alias'])
print(f'There are {count_in_zip} "{PARAMETERS["term"].replace("+", " ")}" businesses physically in {PARAMETERS["location"]}')

mei-chung-mei-restaurant-bronx
yeung-hing-restuarant-bronx
anise-bronx
golden-city-chinese-takeout-bronx
moon-star-grill-riverdale
new-kam-sheng-bronx
panda-restaurant-bronx
pioneer-chinese-restaurant-bronx
pick-up-six-bronx
new-luen-hing-bronx
golden-gate-restaurant-bronx
china-wang-bronx
new-yung-hong-chinese-restaurant-bronx
There are 13 "chinese food" businesses physically in 10463

In [4]:
# we can see in the response above that there are three keys, one of which is "total"

# Print the value in the "total" key to see how many Chinese restaurants are in that zip code
print(business_data['total'])

227

In [ ]:
# so now let's apply that approach with a list of zip codes instead of just one

In [7]:
# import NY zip codes list from CSV & convert into dataframe
# note, to test, I'm using an abbreciated version of our zip code list 

zipcodes_data = "clean_operational_ny_zips_SHORT.csv" 
zipcodes_df = pd.read_csv(zipcodes_data)
zipcodes_df

   Zip Code
0     10001
1     10002
2     10003
3     10004
4     10005
5     10006
6     10007

In [8]:
# Add column to hold number of Chinese restaurants
zipcodes_df["# Chinese Rest"] = ""
zipcodes_df

   Zip Code # Chinese Rest
0     10001
1     10002
2     10003
3     10004
4     10005
5     10006
6     10007

In [9]:
# create a loop that looks up the zip in each row and adds total # Chinese rest to the column

for index, row in zipcodes_df.iterrows():    
    
    zip = row['Zip Code']
    
    PARAMETERS = {'term': 'chinese restaurant',
              'location': zip}
  
    try:
        response = requests.get(url = ENDPOINT,
                                params = PARAMETERS,
                                headers = HEADERS)
        
        business_data = response.json()
        
        print(f"Finding restaurant info for zip code: {zip}")
        
        zipcodes_df.loc[index, "# Chinese Rest"] = business_data['total']
    
    except json.decoder.JSONDecodeError:
        print("Missing field/result... skipping.")
        
    print("-------------------------------------------")

Finding restaurant info for zip code: 10001
-------------------------------------------
Finding restaurant info for zip code: 10002
-------------------------------------------
Finding restaurant info for zip code: 10003
-------------------------------------------
Finding restaurant info for zip code: 10004
-------------------------------------------
Finding restaurant info for zip code: 10005
-------------------------------------------
Finding restaurant info for zip code: 10006
-------------------------------------------
Finding restaurant info for zip code: 10007
-------------------------------------------

In [10]:
# print the data frame, which should now include the Chinese restaurant count by zip
zipcodes_df

   Zip Code  # Chinese Rest
0     10001             328
1     10002             479
2     10003             562
3     10004            1700
4     10005             135
5     10006              60
6     10007             227